.about
    padding: 0 16px 
    margin-top: 90px
    &-title
        font-size: 42px
        font-weight: 700
        color: #FFFFFF
    &-content
        display: flex
        justify-content: space-between
        margin-top: 16px
        &__left
            flex-basis: 50%
        &__team
            background: #BEE137
            padding: 12px
            border-radius: 16px
            margin-top: 24px
            &__title
                font-size: 32px
                font-weight: 700
                color: #161815
            &__img
                max-height: 44px         
        &__text
            flex-basis: 50%
            font-size: 16px
            color: #737274
            font-weight: 400
            margin-left: 32px
            line-height: 24px
            max-width: 400px
    
@media (max-width: 768px)
    .about
        &-title
            text-align: center
        &-content
            flex-direction: column
            text-align: center
            align-items: center
            align-content: center
            &__left
                flex-basis: 100%
            &__text
                text-align: center
                flex-basis: 100%